@import url("https://fonts.googleapis.com/css?family=Raleway");
:root {
  --fav: white;
}
body {
  margin: 0;
  font-family: Raleway;
}
.planet {
  max-width: 500px;
  margin: auto;
}
.planet h3 {
  text-align: center;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
li {
  padding: 1rem 2rem;
  background-color: #4f46e5;
  margin: 0.5rem auto;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 30px;
  width: 60%;
}
.tab-view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
}
.nav {
  background-color: #4f46e5;
  padding: 1rem 0 0 1rem;
}
.nav-heading {
  color: white;
  font-size: 1.5rem;
}
.btn {
  background-color: #4f46e5;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn-active {
  background-color: #4338ca;
}
.hide {
  display: none;
}
#heart {
  position: relative;
  width: 40px;
  height: 40px;
}

#heart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  border-radius: 50px 50px 0 0;
  background: var(--fav);
  transform: translateX(6px) rotate(-45deg);
  top: 4px;
}
#heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  border-radius: 50px 50px 0 0;
  background: var(--fav);
  transform: translateX(13px) rotate(45deg);
  top: 4px;
}
